.main {
 background-color:rgb(252, 252, 252) ;
 
 
}
/*.backgroundDoc {
  font-family: "outfit", sans-serif;
    scroll-behavior:smooth ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    background-attachment:fixed ; 
    background-image:  url('../../Asset/app-images/clinic.jpg');
    height: 500px;
    display :flex;
    width: 100%;
 
}*/

.doctors {
  margin-top: 4rem;
  margin-left: 5.2rem;
  margin-right:1rem;
  font-family: "Sriracha";
  font-size: 16px;

}

.doctors p.SecTitle {
  font-family: "outfit";
  font-style: italic;
  font-size: 24px;
  line-height: 2rem;
  font-weight: 200;
}

.ContainerDoc {
  margin-top: 5rem;
  margin-left: 3.5rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 6rem ;
}

.cards-doc {
  width: 240px;
  height: 350px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
    -4px -4px 12px rgba(163, 163, 163, 0.527);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  flex-direction: column;
}

.cards-doc:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
    -4px -4px 12px rgba(122, 122, 122, 0.08);
}

.card-image-container {
  border-radius: 13px !important;
  margin-bottom: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title1 {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  cursor: default;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.des1 {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin: 0;
  font-family: "outfit";
  font-style: italic;
  font-weight: 300;
 
}

.button1 {
  width: 220px;
  height: 36px;
  border-radius: 18px;
  margin-top: 1.1rem;
  background-color: rgb(255, 255, 255);
  font-family: "outfit";
  border: 1.4px solid rgb(67, 147, 167);
  color: rgb(36, 36, 36);
  text-align: center;
  display: inline-block;
  padding-top: 3px;
}
.button1:hover {
  background-color: rgb(252, 252, 252);
  
}
