.initial-Pic{
  scroll-behavior: smooth;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('../../Asset/app-images/initialpic.jpg');
  height:75vh;
  display: flex;
  width: 100%;
  
}
.initial-Pic h1 {
    margin-top:19rem;
    color: rgb(252, 252, 255)   ; 
    line-height:6rem ;
    margin-left: 6rem;
    font-family: "Sriracha";
    font-weight: 400;
    font-size: 36px; 
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5); 
}
  .initial-title{
    font-family: "Sriracha"  ;
    margin-top: 4.5rem;
    font-size: 25px;
    width: 60%;
    margin-left: 5rem;
    margin-right: auto; 
  }

  .select-Container {
    width: 600px;
    height: 200px;
    margin-top: 3rem;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #dcdddd,
    2px 2px 1px #d6d7d8;
   /* box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);*/
    border-radius: 12px;
    margin-left: 25rem;
    border : 1px solid rgb(209, 208, 208) ;
    margin-bottom: 6rem;
    
  }
  .booking-type  {
    margin-top: 0.5rem;
    font-family: "outfit";
    font-style: italic;
    font-weight: 400;
    font-style: normal; 
    font-size:25px;
    margin-bottom: 1.4rem;
  }
  
  .radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "tajawal"  ;
    font-size: 21px;
    font-weight: 420;
  }
  
  .radio-button input[type="radio"] {
    margin-right: 10px;
  }
  
.day-options-container{
  margin-bottom: 10rem;
  margin-top: 2rem;
  padding: 18px;
  background-color: #ffffff; 
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  margin-left: 7rem;
  margin-right: 5rem;
  border : 1px solid rgb(238, 238, 238) ;
 
} 
  
.day-options-container h4 {
  font-family:"outfit" ;
  font-size: 25px;
  font-weight: 350;
  font-style: italic;
  margin-top: 1rem;
}
.dayContainer p {
    margin-top:4rem;
    font-family: "Sriracha"  ;
    margin-left: 7rem;
    font-size: 25px; 
}
  .day-options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom:3rem;
    margin-top:1rem;

  }
  .time-options-container {
    margin-top: 20px;
  }
  
  .day-button {
    font-size: 19px;
    font-family: "outfit";
    padding: 10px 20px;
    border: 1px solid rgb(232, 234, 235) ;
    border-radius: 25px;
    background-color: #ececec;
    color: #111111;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow:   2px 3px 2px rgba(37, 37, 37, 0.1); 
  }
  
  .day-button:hover {
    background-color: #317481;
    color: #fff ;
  }
  
  .time-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .time-button {
    font-size: 16px;
    font-family: "outfit";
    padding: 10px 20px;
    border: 1px solid rgb(201, 201, 201) ;
    border-radius: 25px;
    background-color: #ffffff;
    color: #0a0a0a;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow:   2px 3px 2px rgba(37, 37, 37, 0.1); 
    /*font-size: 16px;
    font-family: "outfit";
    padding: 10px 20px;
    border: 1px solid rgb(232, 234, 235) ;
    border-radius: 25px;
    background-color: #ececec;
    color: #111111;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow:   2px 3px 2px rgba(37, 37, 37, 0.1); */
    
  }

  .time-button.booked {
    background-color: #ececec; 
    color: #7a7a7a; 
    cursor: not-allowed; 
    opacity: 0.7; 
  }
  
  .time-button:hover {
    background-color: #317481;
    color: #fff ; 
  }
  
  .custom-next-button,
  .custom-back-button {
    background-color: #487885;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    width: 70px;
    font-size: 1em;
    font-weight:500;
    padding: 5px 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
  }
  
  .custom-next-button:hover,
  .custom-back-button:hover {
    background-color: #36585f;
    transform: scale(1.05);
  }
  .userbooking-picture {
    margin-right: 6px;
  }