.my-booking-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid #dddddd72;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: fit-content;
  margin: 20px auto 9rem;

}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.step-navigation {
  width: 300px;
  margin: auto;
}

.step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 12px;
}

.step-indicator li {
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.step-indicator li.active {
  font-weight: bold;
  border-bottom: 2px solid #85a6cb;
}

.my-booking-container h1 {
  font-family: "outfit";
  font-size: 3rem;
  font-weight: 200;
  color: #317481;
  text-align: center;
}



.myclinic-card img {
  width: 100%;
  height: 400px;
  border-radius: 8px;
}

.myclinic-card {
  /* background-color: #fafafaeb;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px; */
  width: 100%;
  text-align: center;
  position: relative;

}

.myclinic-title {
  position: absolute;
  text-align: left;
  background-color: #20949fd5;
  border-radius: 0 0 100px;
  padding: 4px 20px 0px 10px;

}

.myclinic-title h4 {
  font-size: 25px;
  color: #ffffff;
  font-family: "outfit";
  font-weight: 250;
}

.myclinic-title p {
  font-size: 20px;
  color: #ffffff;
  font-family: "outfit";
  font-weight: 250;
}

.myclinic-button {
  width: 25%;
  border-radius: 12px;
  background-color: rgba(249, 249, 249, 0.952);
  font-family: "outfit";
  border: 1.5px solid rgba(67, 147, 167, 0.878);
  color: rgb(62, 62, 62);
  text-align: center;
  padding: 3px;
  font-size: 18px;
  margin: auto;
  transition: all 0.5s ease;
  position: absolute;
  bottom: 20px;
  right: 3%;

}

.myclinic-button:hover {
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(67, 147, 167);
  color: rgb(14, 14, 14);
  transform: scale(1.1);
  transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
}





.time-doctor-selection-container {
  margin-top: 2rem;
}

.day-selection-container h4 {
  font-family: "Sriracha";
  margin-left: 3rem;
  margin-right: 3rem;

}

.day-selection-container {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 18px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 13px;

  border: 1px solid rgb(238, 238, 238);
}

.time-selection-container {
  margin-left: 9rem;
  margin-right: 9rem;

}

.time-selection-container h4 {
  font-family: "Sriracha";
  margin-top: 5rem;
}

.card-image-container img {
  transition: none;
  width: 95%;
  height: 55%;
}

.day-options,
.time-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.day-options {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
}

.time-button1 {
  font-size: 17px;
  font-family: "outfit";
  padding: 10px 20px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 25px;
  background-color: #ffffff;
  color: #0a0a0a;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 3px 2px rgba(37, 37, 37, 0.1);

}

.time-button1:hover {
  background-color: #317481;
  color: #fff;
}

.time-button1.selected {
  background-color: rgb(221, 233, 236);
}

.time-button1.booked {
  background-color: rgb(241, 241, 241);
  cursor: not-allowed;
  color: #afaeae;
}

.day-button1 {
  font-size: 17px;
  font-family: "outfit";
  padding: 10px 20px;
  border: 1px solid rgb(232, 234, 235);
  border-radius: 25px;
  background-color: #ececec;
  color: #111111;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 3px 2px rgba(37, 37, 37, 0.1);
}

.day-button1:hover {
  background-color: #317481;
  color: #fff;
}


.time-button.selected {
  background-color: rgb(221, 233, 236);

}

.doctor-cards {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.ContainerDoc {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-bottom: 3rem;
}

.cards-doc {
  width: 240px;
  height: 310px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
    -4px -4px 12px rgba(163, 163, 163, 0.527);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  flex-direction: column;
}

.cards-doc.selected {
  border: 2px solid rgb(67, 147, 167);
}

.cards-doc:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
    -4px -4px 12px rgba(122, 122, 122, 0.08);
}

.card-image-container {
  border-radius: 13px !important;
  margin-bottom: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doctor-cards h4 {
  font-family: "Sriracha";
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title1 {
  margin: 0;
  font-size: 19px;
  font-weight: 300;
  cursor: default;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  font-family: "Sriracha";
}

.specialization {
  margin-top: 4px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin: 0;
  font-family: "outfit";
  color: #272727;
  font-style: italic;
  font-weight: 350;

}

.button1 {
  width: 220px;
  height: 36px;
  border-radius: 18px;
  margin-top: 0.8rem;
  margin-bottom: 3px;
  background-color: rgb(255, 255, 255);
  font-family: "outfit";
  border: 1.4px solid rgb(67, 147, 167);
  color: rgb(36, 36, 36);
  text-align: center;
  display: inline-block;
  padding-top: 3px;
}

.button1:hover {
  background-color: rgb(247, 247, 247);
}


.backk-button {
  background-color: #fcfcfc;
  color: #000000;
  border: 1.4px solid rgb(67, 147, 167);
  margin-top: 2rem;
  border-radius: 20px;
  width: 70px;
  height: 37px;
  font-size: 1em;
  font-weight: 500;
  font-family: "outfit";
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.backk-button:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}


.confirmation-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fffffffa;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 3rem auto;
  width: fit-content;

}

.selected-doctor {
  display: flex;
  font-size: 18px;
  font-family: "outfit";
  font-weight: 250;
  line-height: 2rem;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px 40px;
  margin: 5px;
  border: 1px solid rgba(242, 242, 242, 0.735);
  background-color: #ffffff00;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.1);

}

.selected-doctor p {

  font-style: italic;

}


.selected-doctor-image {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  margin-top: 5px;
}


.booking-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 350;
  font-family: "outfit";
}

.confirm-button2 {
  padding: 6px 16px;
  background-color: rgb(67, 147, 167);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  font-family: "outfit";
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 15px;
}

.confirm-button2:hover {
  transform: scale(1.05);
}