

.my-bookings-container {
    background-color: #fff; 
    box-shadow:  0px 0px 15px 0px rgba(24, 24, 24, 0.1); 
    border-radius: 6px; 
    border : 1px solid rgb(238, 236, 236) ;
    padding: 25px;
    width: 600px;
    height: auto;
    margin: 5px auto;
    margin-left: 1.5rem;
    margin-top: 1.9rem;
  }

  
  .my-bookings-container h3 {
    font-size: 28px; 
    margin-bottom: 25px; 
    font-weight: 400;
    font-family: "Montserrat", sans-serif ;
    font-style: italic;
  } 
  .my-bookings-container h3 .booking-icons {
    margin-right: 2px;
    color: #48778afb;  /* لون الأيقونة */
  }

  .bookings-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .booking-card1 {
    width: 450px; 
    border: 1px solid rgb(200, 213, 221)  ;
    border-radius: 8px;
    padding: 15px;
    background-color: #fffffffb  ;
    box-shadow: 3px 3px  0px rgba(24, 24, 24, 0.1);
    font-family: "outfit";
    font-size: 17px;
    font-style: italic;
    box-shadow:  4px 3px 10px 3px rgba(24, 24, 24, 0.1);
  }
  
  .booking-card p {
    margin: 5px 0;
    font-family: "tajawal";
    font-style: italic;
  }
  
  .booking-card1 p .booking-icons {
    margin-right: 8px;
    color: #48778afb ;
  }